1 2부터 100사이의 모든 짝수를 출력하는 반복루프를 작성한다.

In [1]:
for i in range(2,101,2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

2 어띤 사람이 복러이자을 7%로 1000만원을 저금했을 경우에 2000만원이 되는뎨 몇 년
이 걸러는지 계산히기 위하여 다움과 코드를 작성하였다. 잘못틘 점은 없는지 쳬크해
보자.

In [2]:
year = 0
balance = 1000
 
while balance >= 2000 :
    year = year + 1
    interest = balance * 0.07
    balance = balance + interest
print(year, "년 걸립니다.")

0 년 걸립니다.

3 다음코드의 출력을 예상해보자. 각 단계에서 변수의 값을 예상해보시오.

In [6]:
n = 1234
sum = 0
while n > 0 :
    digit = n % 10
    sum = sum + digit
    n = n // 10
print(sum)

10

4 사용자에게 곱셈 퀴즈를 내고 탑을 사용자로부터 받는 프로그램에서 사용자가 올바른
답을 업럭할 때까지 반복하도록 수정하여 보자

In [5]:
import random
 
a = random.randint(1,10)
b = random.randint(1,10)
com = a*b
 
while True:
    usr = int(input(str(a) + "*" + str(b) + "는 "))
    if (usr == com):
        print("맞았습니다.")
        break;

4*2는 8
맞았습니다.

5 사용자가 입럭한 졍수의 합을 계산하는 프로그렘을 작성하자. 사용쟈7T O을 입럭히기
전끼지 정수를 계속하여 얽도록 한다

In [4]:
sum = 0
while True:
    a = int(input("정수를 입력하시오: "))
    if (a == 0):
        print("합은 ", sum, "입니다.")
        break
 
    sum += a

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은  6 입니다.

6 난수생셩 함수를사용하여서 2개의 주사위를텬졌을때 나오는수를다음와같이 출럭
하여 보자.

In [3]:
import random

count = 0

while True:
    i = random.randint(1, 7)
    j = random.randint(1, 7)
    print("첫 번째 주사위 : ", i, "두 번째 주사위 : ", j)
    count += 1
    if(count == 5):
        break

첫 번째 주사위 :  1 두 번째 주사위 :  7
첫 번째 주사위 :  4 두 번째 주사위 :  3
첫 번째 주사위 :  6 두 번째 주사위 :  1
첫 번째 주사위 :  6 두 번째 주사위 :  2
첫 번째 주사위 :  7 두 번째 주사위 :  4

7 터틀그래퍽과뱐복을사용하여 눈모양을그러보자.

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
t.left(90)
for i in range (1,7):
 t.forward(100)
 t.forward(-30)
 t.left(60)
 t.forward(30)
 t.forward(-30)
 t.right(120)
 t.forward(30)
 t.forward(-30)
 t.left(60)
 t.forward(-70)
 t.left(60)

8 우리는 이번 장에서 터틀 그래퍽으로 별을 그려보았다 이 코드를 웅용하여서 다옴과
같이 10개의 별을 그러는 프로그랩을 작성하라 별들은 시작 각도가 약간씩 다르다.

In [ ]:
import turtle
myPen = turtle.Turtle()
myPen.speed(0)
myPen.color("#FF0000")
for j in range (1,10):
 for i in range (1,6):
  myPen.left(144)
  myPen.forward(200)
 myPen.left(10)

9 반복과 난수를 함께 사용하면 화면에 랜덤한 원을 그릴 수 있다. 화면에 10개의 랜텀한
원을 그러는 프로그랩을 작셩하라 원의 중심과 반지름이 모두 난수이어야 한다

In [ ]:
import random
import turtle
t = turtle.Turtle()
t.shape("turtle")
for i in range(1,10):
    x = random.randint(-200, 200)
    y = random.randint(-200, 200)
    z = random.randint(10, 200)
    t.up()
    t.goto(x, y)
    t.down()
    t.circle(r);

10 다옴와 같이 거븍이를 왕복 달러기시키는 프로그램을 작성해보자

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
for i in range(5):
 t.forward(200);
 t.right(90)
 t.forward(20);
 t.right(90)
 t.forward(200);
 t.left(90)
 t.forward(20);
 t.left(90)

11 다옴의 터를 그래퍽 프로그랩을 분셕해보자 학습하지 않은 함수가 있다면 인터넷에서
조사하여 보자.

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')
t.begin_fill()
while True:
 t.forward(200)
 t.left(170)
 if abs(t.pos()) < 1:
  break
t.end_fill()

12 터틀 그래퍽과 뱐복을 사용하여 싸인(sine) 그래프를 그러보자 거북이를 싸인값에 따라
서 움직이면 된다

In [ ]:
import turtle
import math
t= turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')
for x in range(0, 360):
 t.goto(x,200*math.sin(x*3.14/180))